.rounds {
  padding: 12px;
}

.mail {
  background-color: #0078ff;
  color: white;
  padding: 14px;
  border-radius: 50%;
  /* 50% 둥글게 */
  width: 20px;
}

.apple {
  background-color: black;
  color: white;
  padding: 14px;
  border-radius: 50%;
  width: 20px;
}

i {
  font-size: 20px;
}
