.menu {
  font-size: 30px;
  font-weight: 600;
  background-color: black;
  color: white;
  width: 450px;
  padding: 30px;
  border-radius: 6px;
  box-sizing: border-box;
  /* 텍스트 바꾸는 CSS */
  text-transform: uppercase;
}

.secret {
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.menu:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.menu:hover .menu {
  text-decoration: line-through;
}

.menu:hover .secret {
  color: red;
}
