body {
  font-family: "SOYOMapleBoldTTF";
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  background-color: var(--primary-purple-200);
  width: 100vw;
  height: 80px;
  z-index: 1;
}

header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.links > .btn:hover {
  color: white;
  cursor: pointer;
}

.btn {
  transition: all 0.5s;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 19px;
  font-family: "KBO-Dia-Gothic_bold";
}
.logo {
  font-size: 35px;
  font-weight: 600;
  font-family: "KBO-Dia-Gothic_bold";
}

.first {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-purple-200);
}

.first > .contents {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-purple-200);
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.textimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 250px;
}

.img > .card {
  position: absolute;
  top: 360px;
  right: 0px;
  left: -420px;
  bottom: 0;
  width: 960px;
  height: 540px;
}

.img > .phone {
  position: absolute;
  width: 100%;
  height: 60%;
}

.text {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
}
.text > .big,
.bigsecond {
  font-size: 52px;
}

.text > .mini {
  font-size: 22px;
  padding-top: 18px;
}

.appbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.apple,
.google {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 9rem;
  background-color: white;
  border-radius: 4px;
  padding: 14px 12px;
  color: black;
  opacity: 0.8;
  transition: opacity 0.5s;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "KBO-Dia-Gothic_bold";
}

.apple:hover,
.google:hover {
  opacity: 0.6;
}

.apple > i {
  color: black;
  font-size: 30px;
  margin-bottom: 6px;
}

.google > i {
  color: aqua;
  font-size: 30px;
  margin-bottom: 6px;
}
