:root {
  --sli-yellow: #ffb83b;
  --sli-indigo: #564dd8;
  --sli-green: #3d8e34;
  --sli-cyan: #1898b2;
  --sli-teal: #429b93;
  --sli-pink: #d04186;
  --sli-blue: #0f69cb;
  --sli-gold: #ffbf00;
  --sli-orange: #ff9300;
  --sli-rouge: #d82442;
  --sli-pro: #dd224b;
  --sli-grey: #999;
  --sli-dark: #191e23;
  --sli-black: #202225;
  --sli-quasi-black: #202225;
  --sli-wp-blue: #007cba;
  --sli-insta-purple: #595fcd;
  --sli-modest-grey: #ccc;
  --sli-barely-grey: #eee;
  --sli-wp-grey: #f1f1f1;
  --sli-wp-bg: #f5f5f5;
  --sli-wp-light-grey: #f9f9f9;
  --sli-wp-danger: #b32d2e;
  --sli-primary-color: var(--wp-admin-theme-color);
  --sli-secondary-color: var(--sli-yellow);
  --sli-tertiary-color: var(--sli-pink);
  --sli-pro-bg-color: #dd244b;
  --sli-pro-fg-color: #fff;
  --sli-focus-color: var(--sli-wp-blue);
  --sli-tooltip-color: var(--sli-dark);
  --sli-line-color: #d3d8dc;
  --sli-line-color-2: #e6e7e8;
  --sli-shade-color: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-weight: 400;
}
