:root {
  --sli-yellow: #ffb83b;
  --sli-indigo: #564dd8;
  --sli-green: #3d8e34;
  --sli-cyan: #1898b2;
  --sli-teal: #429b93;
  --sli-pink: #d04186;
  --sli-blue: #0f69cb;
  --sli-gold: #ffbf00;
  --sli-orange: #ff9300;
  --sli-rouge: #d82442;
  --sli-pro: #dd224b;
  --sli-grey: #999;
  --sli-dark: #191e23;
  --sli-black: #202225;
  --sli-quasi-black: #202225;
  --sli-wp-blue: #007cba;
  --sli-insta-purple: #595fcd;
  --sli-modest-grey: #ccc;
  --sli-barely-grey: #eee;
  --sli-wp-grey: #f1f1f1;
  --sli-wp-bg: #f5f5f5;
  --sli-wp-light-grey: #f9f9f9;
  --sli-wp-danger: #b32d2e;
  --sli-primary-color: var(--wp-admin-theme-color);
  --sli-secondary-color: var(--sli-yellow);
  --sli-tertiary-color: var(--sli-pink);
  --sli-pro-bg-color: #dd244b;
  --sli-pro-fg-color: #fff;
  --sli-focus-color: var(--sli-wp-blue);
  --sli-tooltip-color: var(--sli-dark);
  --sli-line-color: #d3d8dc;
  --sli-line-color-2: #e6e7e8;
  --sli-shade-color: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .nav__logo--mobile,
  .nav__menubar--mobile {
    display: flex;
    padding: 0px 50px;
  }
  .nav__eventsmenu--links,
  .nav__pagemenu--main {
    display: none;
  }

  .nav__logo--desktop {
    margin: 0 auto;
  }

  .second__section--inner {
    max-width: 600px;
  }

  .second__section--cardBox {
    grid-template-columns: repeat(2, 1fr);
  }

  .second__section--stories-cardcontainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .second__section--products-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .eventsbanners {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .eventsbanners > img {
    width: 100%;
  }

  .second__section--gridcontainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
