header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(10, 10, 172);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 15px;
  background-color: rgb(10, 10, 172);
  z-index: 1;
}

.nav__allmenus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
}

.nav__logo--mobile,
.nav__menubar--mobile {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.nav__logo--desktop {
  width: inherit;
  color: white;
  font-family: "JalnanGothic";
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.first__section {
  width: 100vw;
  height: 50%;
}

.first__section--imagecards {
  display: flex;
  flex-direction: row;
}

.first__section--imagecards > img {
  width: 33%;
  height: 20%;
  filter: brightness(0.5);
  transition: filter 0.5s;
}

.first__section--imagecards > img:hover {
  filter: brightness(1);
  cursor: pointer;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.dots > i {
  font-size: 11px;
  color: #ddd;
  transition: all 0.5s;
}

.dots > i:hover {
  color: black;
  cursor: pointer;
  transform: scale(1.2);
}

/* ------------------- second section ---------------------------- */

.second__section {
  width: 100vw;
}

.second__section--inner {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.second__section--container {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.second__section--gridcontainer {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  max-width: 1300px;
}

.item-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition: all 0.5s;
  height: 204.17px;
  opacity: 0;
}

.item-contents:hover {
  display: flex;
  cursor: pointer;
  background-color: black;
  opacity: 0.7;
}

.item-contents > p {
  padding: 16px 0px;
}

.item-contents > .contents-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.second__section--gridcontainer > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.second__section--insta-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px;
  margin: 0 auto;
}

.second__section--item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100vw;
  height: 470px;
}

.second__section--btns {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 50px 10px;
  font-size: 22px;
  font-weight: 600;
}
.showmorebtn {
  background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.showmorebtn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.second__section--cardBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.second__section--showmore {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  transition: all 0.5s;
}

.second__section--showmore:hover {
  cursor: pointer;
  color: #afafaf;
  border-bottom: 2px solid #afafaf;
}

.second__section--cardItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.second__section--cardItems > img {
  width: 100%;
  height: 351px;
  object-fit: cover;
  padding-bottom: 18px;
  transition: all 0.5s;
}

.second__section--cardItems > img:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.second__section--cardItems > span {
  font-family: "JalnanGothic";
  padding-bottom: 12px;
}
.second__section--cardItems > p {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}

.second__section--cardItems > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.second__section--container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.second__section--container2 > i {
  font-size: 28px;
  padding: 25px;
  color: #ddd;
  transition: all 0.5s;
}

.second__section--container2 > i:hover {
  color: black;
  cursor: pointer;
}

.second__section--products-cardItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 25px;
}

.second__section--products-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.second__section--products-cardItems > span {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.second__section--products-cardItems > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.second__section--products-cardItems > img {
  width: 100%;
  height: 100%;
  padding: 8px;
  object-fit: cover;
  transition: all 0.5s;
}
.second__section--storycardItem {
  transition: all 0.5s;
}
.second__section--storycardItem:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.second__section--products-cardItems > img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.second__section--stories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second__section--stories-cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.second__section--storycardItem > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.second__section--card-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.second__section--card-description > p {
  font-size: 14px;
  color: gray;
  transition: all 0.5s;
}

.second__section--card-description > .main {
  font-weight: 600;
  font-size: 30px;
  transition: all 0.5s;
}
.second__section--card-description > .sub {
  overflow-block: hidden;
  font-size: 16px;
  transition: all 0.5s;
}
.second__section--card-description > .date {
  font-size: 12px;
}

.second__section--card-description > p:hover,
.main:hover,
.sub:hover {
  cursor: pointer;
  text-decoration: underline;
  color: darkblue;
}

.eventsbanners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.eventsbanners > img {
  width: 32%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.eventsbanners > img:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

.second__section--insta-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second__section--insta-title > span {
  font-size: 25px;
  font-weight: 600;
}

.second__section--insta-title > p {
  font-size: 20px;
  padding: 25px 0px 50px 0px;
}

.second__section--insta-showmorebtn {
  position: absolute;
  top: 750px;
  width: fit-content;
  text-align: center;
  border-radius: 4px;
  background-color: darkblue;
  color: white;
  padding: 15px 15px;
  margin-top: 20px;
}

.second__section--insta-showmorebtn:hover {
  color: blue;
  background: white;
  border: 1px solid blue;
  cursor: pointer;
}

/* ------------------- footer -------------------- */
.second__section--last {
  width: 100vw;
}
footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: rgb(49, 49, 77);
}
.customer-service {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: left;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: left;
  gap: 20px;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: left;
  gap: 20px;
  color: white;
}
.logos {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: left;
  gap: 20px;
}

.sns {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: left;
  gap: 20px;
  color: white;
}
.upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.three-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  border-left: 1px solid black;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.blue {
  color: blue;
  font-size: 19px;
}
.three-btn > span {
  font-size: 20px;
}

.sizing {
  width: 80px;
}

.sub > img {
  width: 50px;
}

h1 {
  font-size: 29px;
  font-weight: 600;
  color: white;
  margin-bottom: 12px;
}

.icons > i {
  font-size: 28px;
  padding: 12px;
  margin: 5px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50%;
  color: rgb(49, 49, 77);
  background-color: white;
}

.footer-last {
  font-size: 12px;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100vw;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.footer-link > .red {
  color: red;
}

.footer-linkbtn {
  font-weight: 600;
  color: white;
  border-right: 1px solid white;
  padding-right: 10px;
}

.copyright {
  padding: 8px 0px;
  text-align: center;
  border-top: 1px solid gray;
  color: gray;
}
